/* CSS RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* HEADER */
.header-row {
  background-color: aqua;
  height: 80px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-col-left {
  background-color: blue;
  width: 20%;
  display: flex;
  align-items: center;
}

.header-col-left img {
  width: 60px;
}

.header-col-center {
  background-color: brown;
  flex-grow: 1;
}

.header-col-right {
  background-color: cadetblue;
  width: 20%;
  text-align: end;
}

.search-bar-container {
    background-color:yellow;
    text-align: center;
}
