/* CSS RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* HEADER */
.header-row {
  background-color: aqua;
  height: 80px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-col-left {
  background-color: blue;
  width: 20%;
  display: flex;
  align-items: center;
}

.header-col-left img {
  width: 60px;
}

.header-col-center {
  background-color: brown;
  flex-grow: 1;
}

.header-col-right {
  background-color: cadetblue;
  width: 20%;
  text-align: end;
}

.search-bar-container {
  background-color: yellow;
  text-align: center;
}

/* HERO */
.hero-content {
  width: 80%;
  height: 220px;
  background-color: #0d6169;
  margin: 20px auto;
  border-radius: 20px;
  position: relative;
}

.hero-icon {
  width: 130px;
  opacity: 0.1;
  position: absolute;
  right: 20px;
  bottom: 0;
}

/* CONTROLS BAR */
.controls-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  background-color: aqua;
  align-items: center;
  justify-content: space-between;
}

/* CARD */
.card {
  width: calc(25% - 20px);
  height: 100px;
  margin: 10px;
  border-radius: 20px;
  background-color: azure;
}

.card-row {
  width: 80%;
  margin: 20px auto;
  background-color: bisque;
}

.cards-container {
  background-color: #0d6169;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
